<html>
    <head>
        <link rel="stylesheet" href="ccss.css">
        <style>
            .abt{
                background-color: whitesmoke;
            }
            .list{
                list-style-type: none;
                text-align: left;
                padding-left: 260px;
            }
            .obj{
                background-color: whitesmoke;
            }
            .res{
                background-color: white;
            }
            .fac{
                background-color: whitesmoke;
            }
        </style>
    </head>
    <body>
        <header> 
            <ul>
                <a href="home.html"><li><img src="logo.png"></li></a>
                <a href="home.html" class="active"><li>HOME</li></a>
                <a href="about.html"><li>ABOUT</li></a>
                <a href="infrastructure.html"><li>INFRASTRUCTURE</li></a>
                <a href="admission.html"><li>ADMISSION</li></a>
                <a href="faculty.html"><li>FACULTY</li></a>
                <a href="gallery.html"><li>GALLERY</li></a>
                <a href="contact.html"><li>CONTACT US</li></a>
            </ul>
        </header>
        <div class="abt">
            <h2>ABOUT THE COLLEGE</h2><br>
            <h3>Brief Summary</h3>
            <br>
            <p>
                The Harvard Junior College was established by the Harvard University in the year 1900 with a strength of 100 students.
                Harvard Junior college is situated in the heart of the city in the picturesque area of Begumpet.
                The Serene atmosphere with beautiful land-scapes keeps the students in pleasant mood.
                 Congenial for learning process. The College offers instruction through English Medium and admits both boys and girls of age group 15-16 years in two year course of intermediate (separate classes for girls).
            </p>
        </div>
        <div class="cir">
            <h2>CURRICULUM OFFERED</h2><br>
            <p>Intermediate is a course of two years. The College offers instructions in 4 groups:
            </p>
            <ul class="list">
                <li>MPC (MATHEMETICS, PHYSICS & CHEMISTRY)</li>
                <li>BiPC(BIOLOGY, PHYSICS & CHEMISTRY)</li>
                <li>CEC (CIVICS, ECONOMICS & COMMERCE)</li>
                <li>MEC (MATHEMETICS, ECONOMICS & COMMERCE)</li>
            </ul>
            <p>Total intake capacity - 700 students</p>
            <p>Second Languages offered: Arabic, Hindi, Urdu.</p>
            <p>Separate sections for girls</p>
        </div>
        <div class="obj">
            <h2>OBJECTIVE</h2> <br>
            <p>Intermediate is a very crucial period in the life of a student and attitude & performance at 
            this level decides their future.
            The College strives very hard at training the students to achieve excellence in academic standards
            leading to their admission in professional and other courses.
            </p>
        </div>
        <div class="res">
            <h2>RESULTS</h2> <br>
            <p>The results of the junior college have been consistently very good (above 90%) with normally 
            around 95% scoring Ist division reflecting the high standard of quality education.
            </p>
        </div>
        <div class="fac">
            <h2>FACULTY</h2> <br>
            <p>
                The College has highly qualified and experienced lecturers as faculty members who are dedicated,
                imparting- value added education of high quality & making the students to realise their 
                individual potential.
            </p>
        </div>
        <div class="footer">
            <h2>HARVARD JUNIOR COLLEGE</h2>
        </div>
    </body>
</html>