<html>
    <head>
        <link rel="stylesheet" href="ccss.css">
        <style>
            .elig{
                background-color: white;
            }
            .fut{
                background-color: whitesmoke;
                text-align: left;
                padding-left: 125px;
            }
        </style>
    </head>
    <body>
        <header> 
            <ul>
                <a href="home.html"><li><img src="logo.png"></li></a>
                <a href="home.html" class="active"><li>HOME</li></a>
                <a href="about.html"><li>ABOUT</li></a>
                <a href="infrastructure.html"><li>INFRASTRUCTURE</li></a>
                <a href="admission.html"><li>ADMISSION</li></a>
                <a href="faculty.html"><li>FACULTY</li></a>
                <a href="gallery.html"><li>GALLERY</li></a>
                <a href="contact.html"><li>CONTACT US</li></a>
            </ul>
        </header>
        <div class="name">
            <h1>ADMISSION</h1>
        </div>
        <div class="elig">
            <h2>ELIGIBILTY</h2><br>
            <p>
                Students who have passed 10th class or equivalent examination of SSC/CBSC/ICSE or any other
                board recognized by the Board of Intermediate Education are eligible for admission. 
                (eligibility certificate from BIE is required to be produced) by students who have passed from
                board & other than SSC. The College admits students who have passed the qualifying examination 
                in first division (with 60% or more marks). Candidates with second division may be admitted 
                subject to availability of seats.
            </p>
        </div>
        <div class="fut">
            <h2 style="text-align: center;">FUTURE OPPORTUNITIES</h2><br>
            <p>
                <b>MPC</b> - BE (all branches), B Pharmacy, Bio- Technology, BA, BSc, BCom, BCA, CA, BLi.Sc.
            </p>
            <p>
                <b>BPC</b> - MBBS, BDS, BUMS, Homeopathic & Ayurvedic Medicine, BSc Agriculture, BVSc (Veterinary),
                 Bio-Technology, B Pharmacy, BSc - Genetics, Botany, Zoology, BLi.Sc.
            </p>
            <p>
                <b>CEC</b> - BCom, BA - Economics, Political Science, Public Administration, Journalism,
                 English & other languages, BLi.Sc., CA, ICWA, ICFAI, MBA, LLB.
            </p>
            <p>
                <b>MEC</b> - CA, ICWA, ICFAS, MBA, B.Com, B.A, LLB.
            </p>
        </div>
        <div class="footer">
            <h2>HARVARD JUNIOR COLLEGE</h2>
        </div>
    </body>
</html>