<html>
    <head>
        <link rel="stylesheet" href="ccss.css">
    </head>
    <body>
        <header> 
            <ul>
                <a href="home.html"><li><img src="logo.png"></li></a>
                <a href="home.html" class="active"><li>HOME</li></a>
                <a href="about.html"><li>ABOUT</li></a>
                <a href="infrastructure.html"><li>INFRASTRUCTURE</li></a>
                <a href="admission.html"><li>ADMISSION</li></a>
                <a href="books.html"><li>BOOKS</li></a>
                <a href="faculty.html"><li>FACULTY</li></a>
                <a href=""><li>GALLERY</li></a>
                <a href="contact.html"><li>CONTACT US</li></a>
            </ul>
        </header>
        <div class="name">
            <h1>NOTES & MATERIALS</h1>
        </div>
        <div>
            
        </div>
        <div class="footer">
            <h2>HARVARD JUNIOR COLLEGE</h2>
        </div>
    </body>
</html>