<html>
    <head>
        <link rel="stylesheet" href="ccss.css">
        <style>
            table{
                background-color: whitesmoke;
                width: 100%;
                font-size: 25px;
                text-align: center;
                border-color: brown;
            }
        </style>
    </head>
    <body>
        <header> 
            <ul>
                <a href="home.html"><li><img src="logo.png"></li></a>
                <a href="home.html" class="active"><li>HOME</li></a>
                <a href="about.html"><li>ABOUT</li></a>
                <a href="infrastructure.html"><li>INFRASTRUCTURE</li></a>
                <a href="admission.html"><li>ADMISSION</li></a>
                <a href="faculty.html"><li>FACULTY</li></a>
                <a href="gallery.html"><li>GALLERY</li></a>
                <a href="contact.html"><li>CONTACT US</li></a>
            </ul>
        </header>
        <div class="name">
            <h1>FACULTY</h1>
        </div>
        <table border="2">
            <tr>
                <td>
                    <b>S.NO</b>
                </td>
                <td>
                    <b>NAME OF THE FACULTY</b>
                </td>
                <td>
                    <b>QUALIFICATION</b>
                </td>
                <td>
                    <b>DESIGNATION</b>
                </td>
            </tr>
            <tr>
                <td>
                    1.
                </td>
                <td>
                    Ghulam
                </td>
                <td>
                    B.Com
                </td>
                <td>
                    Principal
                </td>
            </tr>
            <tr>
                <td>
                    2.
                </td>
                <td>
                    Mansoor
                </td>
                <td>
                    M.Ed
                </td>
                <td>
                    Vice-Principal
                </td>
            </tr>
            <tr>
                <td>
                    3.
                </td>
                <td>
                    Khan
                </td>
                <td>
                    B.Ed
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    4.
                </td>
                <td>
                    Farhan
                </td>
                <td>
                    M.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    5.
                </td>
                <td>
                    Rahman
                </td>
                <td>
                    B.Tech
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    6.
                </td>
                <td>
                    Faizan
                </td>
                <td>
                    M.Com
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    7.
                </td>
                <td>
                    Waseem
                </td>
                <td>
                    M.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    8.
                </td>
                <td>
                    Saif
                </td>
                <td>
                    B.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    9.
                </td>
                <td>
                    Abid
                </td>
                <td>
                    B.Com
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    10.
                </td>
                <td>
                    Younus
                </td>
                <td>
                    B.Ed
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            
            <tr>
                <td>
                    11.
                </td>
                <td>
                    Ghulam
                </td>
                <td>
                    B.Com
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    12.
                </td>
                <td>
                    Mansoor
                </td>
                <td>
                    M.Ed
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    13.
                </td>
                <td>
                    Khan
                </td>
                <td>
                    B.Ed
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    14.
                </td>
                <td>
                    Farhan
                </td>
                <td>
                    M.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    15.
                </td>
                <td>
                    Rahman
                </td>
                <td>
                    B.Tech
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    16.
                </td>
                <td>
                    Faizan
                </td>
                <td>
                    M.Com
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    17.
                </td>
                <td>
                    Waseem
                </td>
                <td>
                    M.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    18.
                </td>
                <td>
                    Saif
                </td>
                <td>
                    B.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    19.
                </td>
                <td>
                    Abid
                </td>
                <td>
                    B.Com
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    20.
                </td>
                <td>
                    Younus
                </td>
                <td>
                    B.Ed
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    21.
                </td>
                <td>
                    Ghulam
                </td>
                <td>
                    B.Com
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    22.
                </td>
                <td>
                    Mansoor
                </td>
                <td>
                    M.Ed
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    23.
                </td>
                <td>
                    Khan
                </td>
                <td>
                    B.Ed
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    24.
                </td>
                <td>
                    Farhan
                </td>
                <td>
                    M.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    25.
                </td>
                <td>
                    Rahman
                </td>
                <td>
                    B.Tech
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    26.
                </td>
                <td>
                    Faizan
                </td>
                <td>
                    M.Com
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    27.
                </td>
                <td>
                    Waseem
                </td>
                <td>
                    M.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    28.
                </td>
                <td>
                    Saif
                </td>
                <td>
                    B.Sc
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    29.
                </td>
                <td>
                    Abid
                </td>
                <td>
                    B.Com
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
            <tr>
                <td>
                    30.
                </td>
                <td>
                    Younus
                </td>
                <td>
                    B.Ed
                </td>
                <td>
                    Lecturer
                </td>
            </tr>
        </table>
        <div class="footer">
            <h2>HARVARD JUNIOR COLLEGE</h2>
        </div>
    </body>
</html>