<html>
    <head>
        <link rel="stylesheet" href="ccss.css">
        <style>
            .libr{
                background-color: whitesmoke;
            }
            .lab{
                background-color: white;
            }
            .trans{
                background-color: whitesmoke;
            }
            .gs{
                background-color: white;
            }
        </style>
    </head>
    <body>
        <header> 
            <ul>
                <a href="home.html"><li><img src="logo.png"></li></a>
                <a href="home.html" class="active"><li>HOME</li></a>
                <a href="about.html"><li>ABOUT</li></a>
                <a href="infrastructure.html"><li>INFRASTRUCTURE</li></a>
                <a href="admission.html"><li>ADMISSION</li></a>
                <a href="faculty.html"><li>FACULTY</li></a>
                <a href="gallery.html"><li>GALLERY</li></a>
                <a href="contact.html"><li>CONTACT US</li></a>
            </ul>
        </header>
        <div class="name">
            <h1>INFRASTRUCTURE</h1>
        </div>
        <div class="libr">
            <h2>LIBRARY</h2><br>
            <p>
                Library is well equipped with around 7982 books which include text books, reference books and
                EAMCET books on each subject. The College subscribes to many journals and magazines, which 
                enrich the knowledge of the students. Audio-Visual support is also provided with TV, VCR and 
                more than 100 video cassettes on subjects of curriculum.
            </p>
        </div>
        <div class="lab">
            <h2>LABORATORIES</h2> <br>
            <p>
                There are four full-fledged, well-ventilated, spacious, fully equipped laboratories. 
                Each laboratory can accommodate a batch of 40 students.
            </p>
        </div>
        <div class="trans">
            <h2>TRANSPORTATION</h2> <br>
            <p>
                The College has a fleet of buses for students, plying from all important places of 
                Hyderabad city.
            </p>
        </div>
        <div class="gs">
            <h2>GAMES & SPORTS</h2> <br>
            <p>
                The College has a qualified Physical Director, who trains the students in all major games and
                sports with the help of fully equipped sports room. Besides, coaching is provided by experienced
                coaches in major games.
            </p>
        </div>
        <div class="footer">
            <h2>HARVARD JUNIOR COLLEGE</h2>
        </div>
    </body>
</html>