<html>
    <head>
        <link rel="stylesheet" href="s-up&in.css">
    </head>
    <body>
        <h1>HARVARD JUNIOR COLLEGE</h1>
        <h1 style="color: black;">Sign In</h1>
        <div>
            <div class="inner">
                <form>
                    <label>Username:</label><br>
                    <input type="text"><br>
                    <label>Password</label><br>
                    <input type="password"><br> <br>
                    <input type="submit">
                    <input type="reset">
                </form>
                <a href="sign-up.html">NEW USER? Sign up here</a>
            </div>
            <br>
        <br>
        </div>
    </body>
</html>