<html>
    <head>
        <link rel="stylesheet" href="s-up&in.css">
    </head>
    <body>
        <h1>HARVARD JUNIOR COLLEGE</h1>
        <h1 style="color: black;">Sign Up</h1>
        <div>
            <div class="inner">
                <form>
                    <label>Name:</label><br>
                    <input type="text" id="name"><br>
                    <label>Date of birth:</label> <br>
                    <input type="date"> <br>
                    <label>Roll No:</label><br>
                    <input type="text"><br>
                    <label>Username:</label> <br>
                    <input type="text"> <br>
                    <label>Password:</label> <br>
                    <input type="password"> <br>
                    <label>Confirm Password:</label> <br>
                    <input type="password"><br>
                    <label>Gender:</label>
                    <input type="radio" name="gender"> <label>Male</label>
                    <input type="radio" name="gender"> <label>Female</label> <br>
                    <label>Group:</label> <br>
                    <select>
                        <option>MPC</option>
                        <option>BiPC</option>
                        <option>CEC</option>
                        <option>MEC</option>
                    </select> <br><br>
                    <input type="submit"> 
                    <input type="reset">
            </div>
        </div>
        </form>
        <script>
            var name;
            var dob;
            var roll;
            var username;
            var password;
            var gender;
            var group;
            console.log(name);
        </script>
    </body>
</html>